.memoria td {
  border: 2px solid black;
  width: 2rem;
  height: 2rem;
  text-align: center;
  font-size: 2rem;
  color: transparent;
  background-color: #54c85e;
  border-radius: 0.5rem;    
}
.memoria td:hover {
  color: black;
}

.pista {
  width: 25rem;
  border: 2px solid black;
  border-radius: 0.5rem;
}

.corredor {
    border-bottom: 1px dashed black;
    padding: 0.5rem;
    background-color: #60b6ce;
    height: 2rem;
    font-size: 1.5rem;
    transition: background-color 2s, padding-left 0.5rem;
}

.corredor:hover {
    background-color: #54c85e;
    padding-left: 1rem;
}
.normal{
    width: 25rem;
    padding: 0.5rem;
    background-color: #8ae4a8;
    border: 2px solid black;
    position: static;
}

.referencia{
    border:2px solid black;
    padding: 0.5rem;
    background-color: #cee7d6;
    position: relative;
    left: 5rem;
    top: 3rem;
}

.tarjeta {
    width: 16rem;
    padding: 1rem;
    background-color: #abdff7;
    border: 2px solid black;
}

.etiqueta {
    background-color: orange;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 0.5rem;
}